<%= form_with model: paciente do |form| %>
  <div>
    <%= form.label :nome_completo %><br>
    <%= form.text_field :nome_completo %>
    <% paciente.errors.full_messages_for(:nome_completo).each do |message| %>
    <div>
      <%= message %>
    </div>
    <% end %>
  </div>

  <div>
    <%= form.label :data_nascimento %><br>
    <%= form.text_field :data_nascimento %>
    <% paciente.errors.full_messages_for(:data_nascimento).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :cpf %><br>
    <%= form.text_field :cpf %>
    <% paciente.errors.full_messages_for(:cpf).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
    <% paciente.errors.full_messages_for(:email).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <%= form.fields_for :endereco do |formu| %>
    <div>
      <%= formu.label :cep %><br>
      <%= formu.text_field :cep %>
    </div>
    <div>
      <%= formu.label :cidade %><br>
      <%= formu.text_field :cidade %>
    </div>

    <div>
      <%= formu.label :bairro %><br>
      <%= formu.text_field :bairro %>
    </div>

    <div>
      <%= formu.label :logradouro %><br>
      <%= formu.text_field :logradouro %>
    </div>

    <div>
      <%= formu.label :complemento %><br>
      <%= formu.text_field :complemento %>
    </div>

  <% end %>

  <div>
    <br><%= form.submit %>
  </div>
<% end %>

