<h1>Paciente</h1>

<h3>Nome: <%= @paciente.nome_completo %></h3>
<h3>Data Nascimento: <%= @data_formatada %></h3>
<h3>CPF: <%= @cpf_formatado %></h3>
<h3>Email: <%= @paciente.email %></h3>
<h3>CEP: <%= @cep_formatado %></h3>
<h3>Cidade: <%= @cidade_formatada %></h3>
<h3>Bairro: <%= @bairro_formatado %></h3>
<h3>Logradouro: <%= @logradouro_formatado %></h3>
<h3>Complemento: <%= @complemento_formatado %></h3>


<ul>
  <li>
    <%= link_to "Edit", edit_paciente_path(@paciente) %>
  </li>
</ul>
