<h1>Paciente</h1>

<h3>Nome: <%= @paciente.nome_completo %></h3>
<h3>Data Nascimento: <%= @paciente.data_nascimento %></h3>
<h3>CPF: <%= @paciente.cpf %></h3>
<h3>Email: <%= @paciente.email %></h3>
<h3>CEP: <%= @paciente.endereco.cep %></h3>
<h3>Cidade: <%= @paciente.endereco.cidade%></h3>
<h3>Bairro: <%= @paciente.endereco.bairro %></h3>
<h3>Logradouro: <%= @paciente.endereco.logradouro %></h3>
<h3>Complemento: <%= @paciente.endereco.complemento %></h3>


<ul>
  <li>
    <%= link_to "Edit", edit_paciente_path(@paciente) %>
  </li>
</ul>
