<%= form_with model: consulta_medica do |form| %>



  <div>
    <%= form.label :data %><br>
    <%= form.date_field :data %>
    <% consulta_medica.errors.full_messages_for(:data).each do |message| %>
    <div>
      <%= message %>
    </div>
    <% end %>
  </div>

  <div>
    <%= form.label :horario %><br>
    <%= form.time_field :horario %>
    <% consulta_medica.errors.full_messages_for(:horario).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :paciente %>
  <%= form.collection_select :paciente_id, Paciente.all, :id, :nome_completo %>
  </div>

  <div>
    <%= form.label :medico %>
  <%= form.collection_select :medico_id, Medico.all, :id, :nome_completo %>
  </div>

  <div>
  <%= form.label :status %>
    <%= form.select :status, options_for_select(ConsultaMedica::STATUSES), {} %>
  </div>




  <div>
    <br><%= form.submit %>
  </div>
<% end %>

