<%= form_with model: consulta_medica do |form| %>

  <%= form.collection_select(:pacinte_id, Paciente.all, :id, :nome_completo) %><br>

  <div>
    <%= form.label :data %><br>
    <%= form.text_field :data %>
    <% consulta_medica.errors.full_messages_for(:data).each do |message| %>
    <div>
      <%= message %>
    </div>
    <% end %>
  </div>

  <div>
    <%= form.label :horario %><br>
    <%= form.text_field :horario%>
    <% consulta_medica.errors.full_messages_for(:horario).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <br><%= form.collection_select(:medico_id, Medico.all, :id, :nome_completo) %>



  <div>
    <br><%= form.submit %>
  </div>
<% end %>

