<h1>Novo Médico</h1>

<%= form_with model: @medico do |form| %>
  <div>
    <%= form.label :nome_completo %><br>
    <%= form.text_field :nome_completo %>
    <% @medico.errors.full_messages_for(:nome_completo).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :cpf %><br>
    <%= form.text_field :cpf %>
    <% @medico.errors.full_messages_for(:cpf).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
    <% @medico.errors.full_messages_for(:email).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :especialidade %><br>
    <%= form.text_field :especialidade%>
    <% @medico.errors.full_messages_for(:especialidade).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :crm %><br>
    <%= form.text_field :crm %>
    <% @medico.errors.full_messages_for(:crm).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <br><%= form.submit %>
  </div>


<% end %>
