<h1>Médico</h1>

<h3>Nome: <%= @medico.nome_completo %></h3>
<h3>CPF: <%= @medico.cpf %></h3>
<h3>E-mail: <%= @medico.email %></h3>
<h3>Especialidade: <%= @medico.especialidade %></h3>
<h3>CRM: <%= @medico.crm %></h3>
